body{
    background-color: grey;
}

button{
    border: none;
  }

.text{
    position: absolute;
    font-size: 5vw;
    right: 25%;
    top: 30%;
}

.groups{
    position: absolute;
    font-size: 5vw;
    top: 80%;
    right: 25%;
}

.reveal{
    position: absolute;
    top: 50%;
    right: 25%;
    width: 60vw;
    height: 15vh;
    font-size: 8vw;
    background-color: aqua;
}
