
body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    background-color: grey;
}

button{
  border: none;
  color: black;
}

.all_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.main-button,.dropdown-button {
    width: 40vw;
    height: 10vh;
    font-size: 300%;
}

.dropdown-button{
  background-color: #003366;
}

.main-button{
    margin-top: 10vh;
    background-color: red;
}

.dropdown {
  height: 0;
  overflow: hidden;
  list-style: none;
  transition: height 0.8s;
}

.add_text, .delete_all{
  width: 30vw;
  height: 7vh;
  font-size: 200%;
  margin-top: 10px;
}

.Item{
  font-size: 5vw;
  flex: 1;
  height: 100%;
}

.rotate {
  transition: transform 0.8s;
  display: inline-block;
}

.Start_button {
  position: relative;
  background-color: green;
  font-size: 10vw;
  top: 300px;
  right: 11.5vw;
  width: 40vw;
  
}

.Add_group{
  position: relative;
  background-color: green;
  font-size: 10vw;
  top: 0%;
  left: 28.8vw;
  width: 40vw;
  margin-top: 100px;
}

.blank-content{
   height: 60vh;
}

.RemoveButton{
  position: absolute;
  background-color: red;
  right: 0;
  top: 0;
  width: 40px; /* Adjust the width to match the height */
  height: 40%;
  padding: 0; /* Remove padding */
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  /* Add any additional styles for your button */
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px; /* Adjust the height to your needs */
}

.fa fa-trash-o{
  font-size: larger;
}

.copyright{
  position: relative;
  top: 95%;
  font-size: 5vw;
}
